//
//  Staging.xcconfig
//  Runner
//
//  Created by m-kato on 2020/03/17.
//  Copyright © 2020 The Chromium Authors. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
PRODUCT_BUNDLE_IDENTIFIER=net.nitakan.appbase.staging
DISPLAY_NAME=(R)にたかんのアプリ
APP_VERSION_NAME=${FLUTTER_BUILD_NAME}-REVIEW
